################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
Framework/Core/x64/Debug/Core.pch
Engine/KwurkEngine/x64/Debug/KwurkEngine.pch
Framework/Graphics/x64/Debug/Graphics.pch
Framework/Input/x64/Debug/Input.pch
Framework/Math/x64/Debug/Math.pch
/Framework/Core/x64/Debug/Core.pch
